* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    background-color: #E494AE;
}

.section1{
   width: 100%;
   height: 65vw;
   line-height: 0;
}

.FON{
    width: 100%; 
    height: 65vw;
    overflow: hidden;
}

.fon_img{
    width: 100%;      
    height: 100%;    
    display: block;   
    object-fit: cover;
}