* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    background-color: #E494AE;
}

.fon1{
    width: 100%;
    margin-top: -10%;
    z-index: 0;
    position: relative;
}

.FON1{
    width: 100vw;
    height: 60vw;
    overflow-y: hidden;
    position: relative;
}

.zanaves1{
    z-index: 1;
    height: 55vw;
    width: 50vw;
    position: absolute;

}
.zanaves2{
    z-index: 1;
    height: 55vw;
    width: 50vw;
  position: absolute;
}

.ZANAVES{
    width: 100vw;
    height: 55vw;
    position: absolute;
    margin-top: -70%;
}